/*
 * Colorscheme : http://colorschemedesigner.com/csd-3.5/#3.61Tuu--cOcO
 */

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 85%;
}

body {
  max-width: 900px;
  margin: auto;
  color: #444;
  /* line-height: 1em; */
}

/* Table of Contents, if wanted

Add to yaml:

output:
  blogdown::html_page:
    toc: true

    */

#TableOfContents,
#TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Header and Footer */
.menu li {
  display: inline-block;
}
.article-meta,
.menu a {
  text-decoration: none;
  background: #1e90ff;
  color: #fff;
  padding: 5px;
  /* border-radius: 5px; */
  border-style: dotted;
  border-width: 1px;
  margin-bottom: 20px;
}

.article-meta a {
  color: #0cffa9;
}

.terms {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
}

.terms > a {
  font-weight: normal;
  background: #0cffa9;
  color: #555;
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 3px;
}

.terms > a:hover {
  text-decoration: none;
}

.menu,
.article-meta,
footer {
  text-align: center;
}
.title {
  font-size: 1.1em;
}
footer a {
  text-decoration: none;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

a {
  color: #436de6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adjust background at your leisure! */
header.site-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1rem;
  background: #1e90ff;
  border-bottom: 1px solid #463de6;

  .home,
  .feed {
    flex: 1 1 0;
  }

  .feed {
    text-align: right;
  }
}

nav {
  flex: 1 2 auto;
  ul {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-right: 0.5em;
  }
}

header a {
  color: #fff;
  line-height: 1.75rem;

  &:hover {
    text-decoration: none;
  }
}

header .current {
  font-weight: bold;
}

/* Code Boxes */
pre {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #ddd;
  background: #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #eee;
}
pre code {
  background: none;
}

/* Images, tables, misc. */
img,
iframe,
video {
  max-width: 100%;
  height: auto;
}
main {
  hyphens: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  hyphens: auto;
  display: block;
  font-size: 1.1em;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
th,
td {
  padding: 5px;
}
tr:nth-child(even) {
  background: #eee;
}

.content-wrapper {
  padding: 0px 12px 0px 12px;
}

ul {
  padding-left: 1em;
  list-style: square;
}

#main-image {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}
