<header class="site-header">
  {{ $title := lower .Title }}
  {{ $section := lower .Section }}
  <a class="home {{ if .IsHome }}current{{ end }}" href="{{ .Site.BaseURL }}"
    >~/{{ lower .Site.Title }}</a
  >

  <nav>
    <ul>
      {{ range .Site.Menus.main }}
        {{ $name := lower .Name }}
        <li
          class="{{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}"
        >
          <a href="{{ .URL }}">~/{{ lower .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>

  {{ range .Site.Menus.feed }}
    {{ $name := lower .Name }}
    <a class="feed" href="{{ .URL }}">~/{{ lower .Name }}</a>
  {{ end }}
</header>
